
<br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br>
<% @page_classes = 'knife' %>
<% if !current_user %>
 <div class="container">
        <div class="row">
            <div>
                <div class="col-lg-12 text-center">
     				<%= image_tag("Chow_Source.png", :class => "title-image") %>
                   	<br>
                   	<br>
                    <a class="btn btn-primary btn-lg" href="/auth/facebook" role="button"><span class="fa fa-facebook-official"></span> Log in with Facebook</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div>
                <div class="col-lg-12 text-center">
                	<br>
     				<h3 class="white"><em>A place to build the perfect menu for your dinner parties</em></h3>
                </div>
            </div>
    
</div>
</div>
<% end %>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
