<h1>All Recipes</h1>

<!-- <ul id="recipes">
  <%# @recipes.each do |recipe| %>
  <li>
    <%#= link_to recipe.title, recipe_path(recipe), class: 'recipe_title', id: "recipe_#{recipe.id}" %>
  </li>
  <%# end %>
</ul> -->

<div class="container">
 <div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
  <div><h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name%></a></h3>
    <div class="thumbnail food-image">
      <div class="caption" style="height: 250px";>
       <h2 class="pull-right">
       <a href="#"><span id="recipe-heart" class="fa fa-heart-o"></span></a>
       </h2>
       <h4 class="center">
      </h4>
    </div>
    </div>

    <br>
  </div>
</div>
<% end %>
</div>




<%= link_to "Create a New Recipe", new_recipe_path, class: "new_recipe" %>
