<h1 class="box-small text-center">All Recipes</h1>
<div class="text-center">
  <%= link_to "CREATE A NEW RECIPE", new_recipe_path, :class => "btn btn-default" %>
</div>

<div class="container">
 <div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div><h3 class="box-small text-center"><a href="/recipes/<%= recipe.id %>"><%= recipe.name%></a></h3>
      <div class="thumbnail food-image">
        <div class="caption" style="height: 250px";>
         <h2 class="pull-right">
           <form action="/recipes" method="POST">
             <h3><%= Love.where(recipe_id: recipe.id ).length %>
              <% if Love.find_by(user_id: current_user.id, recipe_id: recipe.id) %>
              <input id="recipe-heart" class="fa fa-heart-o" type="button" style="color: red" value="♥️">
              <% else %>
              <input id="recipe-heart" class="fa fa-heart-o" type="button" style="color: black" value="♥️">
              <% end %>
            </h3>
           </form>

         </h2>
         <h4 class="center">
         </h4>
       </div>
     </div>

     <br>
   </div>
 </div>
 <% end %>
</div>

